body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.block {
  cursor: pointer;
  background-color: blueviolet;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block img {
  height: 75%;
  width: 75%;
}
